In [2]:
pwd

'C:\\Users\\Vishwajeet Bhoir\\Desktop\\pythonml'

In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
m_df = pd.read_csv('matches.csv')

In [6]:
d_df = pd.read_csv('deliveries.csv')

In [8]:
chase_df = m_df.query('win_by_wickets>0')

In [10]:
chase_df=chase_df['winner'].value_counts()

In [11]:
chase_df

Kolkata Knight Riders          56
Mumbai Indians                 50
Chennai Super Kings            48
Royal Challengers Bangalore    48
Rajasthan Royals               46
Kings XI Punjab                42
Delhi Daredevils               42
Sunrisers Hyderabad            27
Gujarat Lions                  12
Deccan Chargers                11
Pune Warriors                   6
Delhi Capitals                  6
Rising Pune Supergiant          5
Kochi Tuskers Kerala            4
Rising Pune Supergiants         3
Name: winner, dtype: int64

In [12]:
chase_df.max()

56

In [13]:
chase_df.iloc[0]

56

In [16]:
for items in chase_df.iteritems():
    if items[1]==chase_df.max():
        print (items)

('Kolkata Knight Riders', 56)

In [23]:
toss_df = m_df.query("toss_winner==winner")

In [45]:
tossp_df = toss_df['toss_decision'].groupby(toss_df['venue'])

In [53]:
tossp_df.aggregate('value_counts')

venue                                                 toss_decision
ACA-VDCA Stadium                                      field             2
Barabati Stadium                                      field             3
                                                      bat               2
Brabourne Stadium                                     bat               4
                                                      field             3
Buffalo Park                                          bat               2
De Beers Diamond Oval                                 bat               1
                                                      field             1
Dr DY Patil Sports Academy                            field             6
                                                      bat               3
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium   bat               2
                                                      field             2
Dubai International Cricket Stadium                   field             2
                                                      bat               1
Eden Gardens                                          field            31
                                                      bat              12
Feroz Shah Kotla                                      field            20
                                                      bat              13
Feroz Shah Kotla Ground                               field             3
                                                      bat               2
Green Park                                            field             4
Himachal Pradesh Cricket Association Stadium          field             4
                                                      bat               1
Holkar Cricket Stadium                                field             7
IS Bindra Stadium                                     field             5
JSCA International Stadium Complex                    field             3
                                                      bat               1
Kingsmead                                             bat               6
                                                      field             3
M Chinnaswamy Stadium                                 field            36
                                                                       ..
New Wanderers Stadium                                 field             3
Newlands                                              bat               3
                                                      field             1
OUTsurance Oval                                       bat               1
                                                      field             1
Punjab Cricket Association IS Bindra Stadium, Mohali  field             5
                                                      bat               1
Punjab Cricket Association Stadium, Mohali            field            11
                                                      bat               5
Rajiv Gandhi International Stadium, Uppal             field            14
                                                      bat               5
Rajiv Gandhi Intl. Cricket Stadium                    bat               1
                                                      field             1
Sardar Patel Stadium, Motera                          bat               3
                                                      field             3
Saurashtra Cricket Association Stadium                field             4
Sawai Mansingh Stadium                                field            19
                                                      bat               6
Shaheed Veer Narayan Singh International Stadium      field             2
                                                      bat               1
Sharjah Cricket Stadium                               field             2
Sheikh Zayed Stadium                                  bat               3
                                                      field             2
St George's Park                                      bat               3
Subrata Roy Sahara Stadium                            bat               9
SuperSport Park                                       field             5
                                                      bat               3
Vidarbha Cricket Association Stadium, Jamtha          bat               1
Wankhede Stadium                                      field            26
                                                      bat              11
Name: toss_decision, Length: 70, dtype: int64

In [55]:
mom_df = m_df.query('win_by_wickets>0')

In [58]:
win_mom_df = mom_df['player_of_match'].value_counts()

In [60]:
for items in win_mom_df.iteritems():
    if items[1]== win_mom_df.max():
        print (items)

('YK Pathan', 11)

In [62]:
d_df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN